<!-- <h1>Add Products</h1>

<form method="post" action="/create-product">
    <input type="text" name="name" />
    <input type="text" name="description" />
    <input type="number" name="initialPrice" />
    <input type="number" name="finalPrice" />
    <input type="submit" />
</form> -->